body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
    font-size: 14px;
    line-height: 1.43;
    color: #565a5c;
    background-color: #f5f5f5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.sidenav-item[aria-selected="true"] {
    text-decoration: none;
    color: #565a5c;
    font-weight: bold
}

.sidenav-item_nobold {
    text-decoration: none;
    color: #565a5c;
    font-weight: bold
}

.sidenav-text,.sidenav-item {
    display: block;
    padding: 6px 0;
    font-size: 16px;
    color: #82888a
}

.row.row-table {
    width: 100%;
    width: calc(100% + 25px)}

:root .row.row-table {
    width: 100% \9;
}

.row:before,.row:after {
    content: " ";
    display: table
}


.list-unstyled,.list-layout,.subnav-list,.sidenav-list {
    padding-left: 0;
    list-style: none
}

.list-layout,.subnav-list,.sidenav-list {
    margin-bottom: 0
}


.col-middle {
    vertical-align: middle;
}


.col-middle{
    float: left;
    margin-top: 8px;
}

.media-photo {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    background-color: #cacccd;
}

.media-cover,.media-cover-dark:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.img-responsive-height {
    width: auto;
    height: 100%
}

.media-photo-block {
    display: block}


img {
    vertical-align: middle
}


.list-unstyled,.list-layout,.subnav-list,.sidenav-list {
    padding-left: 0;
    list-style: none
}

.list-layout,.subnav-list,.sidenav-list {
    margin-bottom: 0
}

.panel {
    border: 1px solid #dce0e0;
    background-color: #fff;
    border-radius: 0
}


.panel-body {
    position: relative
}

.panel-body+.panel-body:before {
    content: "";
    position: absolute;
    top: -1px;
    height: 1px;
    left: 20px;
    right: 20px;
    border-top: 1px solid #dce0e0;
    border-color: rgba(220,224,224,0.5);
}

.panel-body:first-child:before,.panel-body.panel-dark:before,.panel-body.panel-header:before {
    display: none
}

.panel-body>*:first-child {
    margin-top: 0
}

.panel-body>*:last-child {
    margin-bottom: 0
}

ul.panel-body,ol.panel-body {
    padding: 0;
    list-style: none
}

.panel-header:first-child,.panel-body:first-child,ul.panel-body>li:first-child,ol.panel-body>li:first-child,.panel-footer:first-child {
    border-top: 0
}

.panel-header,.panel-body,ul.panel-body>li,ol.panel-body>li,.panel-footer {
    position: relative;
    margin: 0;
    padding: 20px;
    border-top: 1px solid #dce0e0
}



@media (max-width: 767px) {
    .page-container-responsive .col-xs-1,.page-container-responsive .col-xs-2,.page-container-responsive .col-xs-3,.page-container-responsive .col-xs-4,.page-container-responsive .col-xs-5,.page-container-responsive .col-xs-6,.page-container-responsive .col-xs-7,.page-container-responsive .col-xs-8,.page-container-responsive .col-xs-9,.page-container-responsive .col-xs-10,.page-container-responsive .col-xs-11,.page-container-responsive .col-xs-12 {
        float:none;
        /*margin-bottom: 25px;*/
        width: auto
    }

    .page-container-responsive .col-xs-1:last-child,.page-container-responsive .col-xs-2:last-child,.page-container-responsive .col-xs-3:last-child,.page-container-responsive .col-xs-4:last-child,.page-container-responsive .col-xs-5:last-child,.page-container-responsive .col-xs-6:last-child,.page-container-responsive .col-xs-7:last-child,.page-container-responsive .col-xs-8:last-child,.page-container-responsive .col-xs-9:last-child,.page-container-responsive .col-xs-10:last-child,.page-container-responsive .col-xs-11:last-child,.page-container-responsive .col-xs-12:last-child {
        margin-bottom: 0
    }

    .page-container-responsive .col-push-1,.page-container-responsive .col-push-2,.page-container-responsive .col-push-3,.page-container-responsive .col-push-4,.page-container-responsive .col-push-5,.page-container-responsive .col-push-6,.page-container-responsive .col-push-7,.page-container-responsive .col-push-8,.page-container-responsive .col-push-9,.page-container-responsive .col-push-10,.page-container-responsive .col-push-11,.page-container-responsive .col-push-12 {
        left: auto
    }

    .page-container-responsive .col-pull-1,.page-container-responsive .col-pull-2,.page-container-responsive .col-pull-3,.page-container-responsive .col-pull-4,.page-container-responsive .col-pull-5,.page-container-responsive .col-pull-6,.page-container-responsive .col-pull-7,.page-container-responsive .col-pull-8,.page-container-responsive .col-pull-9,.page-container-responsive .col-pull-10,.page-container-responsive .col-pull-11,.page-container-responsive .col-pull-12 {
        right: auto
    }

    .page-container-responsive .col-offset-1,.page-container-responsive .col-offset-2,.page-container-responsive .col-offset-3,.page-container-responsive .col-offset-4,.page-container-responsive .col-offset-5,.page-container-responsive .col-offset-6,.page-container-responsive .col-offset-7,.page-container-responsive .col-offset-8,.page-container-responsive .col-offset-9,.page-container-responsive .col-offset-10,.page-container-responsive .col-offset-11,.page-container-responsive .col-offset-12 {
        margin-left: 0
    }

    .page-container-responsive .row-table,.page-container-responsive .col-top,.page-container-responsive .col-middle,.page-container-responsive .col-bottom {
        display: block
    }
}


.btn-host,.btn-special {
    border-color: #FFFFFF;
    border-bottom-color: #2EAD29;
    background-color: #53BF4F;
    color: #fff
}

.btn-host:hover,.btn-host:focus,.btn-special:hover,.btn-special:focus {
    border-color: #009aab;
    border-bottom-color: #399D35;
    background-color: #3AB836;;
    color: #fff
}

.btn-host:active,.btn-special:active {
    border-color: #004f58;
    background-color: #004f58;
    color: #fff
}

/*order confirm*/

.active-panel-header,.active-panel-padding {
    padding-top: 7px;
    padding-bottom: 7px
}

.panel-dark,.panel-header {
    background-color: #edefed
}


.option-item {
    border: 1px solid #ddd;
    line-height: 18px;
    padding: 5px 24px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    width: 140px;
    color: #565a5c;
}
.item-selected{
    border: 2px solid #337ab7;
    /*border: 2px solid #e4393c;*/
    padding: 4px 23px;
}

.total_fee {
    padding-right: 18px;
    line-height: 50px;
    font-size: 14px;
}

.total_fee strong {
    color: #e4393c;
    font-size: 20px;
    vertical-align: middle;
    font-weight: 700;
}








