h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
    margin-top: 0
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 25px;
    margin-bottom: 15px
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    line-height: 1.1;
    text-rendering: optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #82888a
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 25px;
    margin-bottom: 15px
}

h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
    margin-top: 0
}

h1,.h1 {
    font-size: 44px}

h2,.h2 {
    font-size: 32px
}

h3,.h3 {
    font-size: 24px
}

h4,.h4 {
    font-size: 18px
}

h5,.h5 {
    font-size: 16px
}

h6,.h6 {
    font-size: 14px
}

h1,.h1,h2,.h2,h3,.h3 {
    font-weight: normal}

h4,.h4,h5,.h5,h6,.h6 {
    font-weight: bold
}

h6,.h6 {
    color: #82888a
}

h1 small,.h1 small {
    font-size: 28px
}

h2 small,.h2 small {
    font-size: 20px
}

h3 small,.h3 small {
    font-size: 17px
}

h4 small,.h4 small {
    font-size: 14px
}

.link-contrast {
    color: #fff}

.link-contrast:hover,.link-contrast:focus {
    color: #cacccd
}

.link-contrast:active {
    color: #82888a
}

.link-contrast:hover,.link-contrast:focus,.link-contrast:active {
    text-decoration: none;
    outline: none
}

.list-unstyled,.list-layout,.subnav-list,.sidenav-list {
    padding-left: 0;
    list-style: none}

.list-layout,.subnav-list,.sidenav-list {
    margin-bottom: 0
}

a:hover{
    text-decoration: none;
}
